@import 'bower_components/nib'
@import 'pure/base/base'
@import 'pure/buttons/buttons-core'
@import 'pure/buttons/buttons'
@import 'pure/grids/grids'
@import 'pure/grids/grids-responsive'
@import 'pure/forms/forms'
@import 'pure/forms/forms-r'
//@import 'pure/menus/menus-core'
@import 'pure/menus/menus-paginator'
@import 'pure/menus/menus-r'
@import 'pure/menus/menus'

html, 
button, 
input, 
select, 
textarea, 
$pure-g [class *= "pure-u"] {
    font-family: sans-serif;
    font-weight: 100;
    letter-spacing: 0.01em;
}

button,
input {
    line-height: normal;
}

button,
input,
select,
textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
}

.content {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em;
    max-width: 768px;

    @media (min-width: 48em) {
        padding-left: 2em;
        padding-right: 2em;
    }
}

img {
    @extend $pure-img;
}

// BUTTON RULES
// Here we're direct mapping just to test / demo the settings

.regular-buttons {
    button, a {
        @extend $pure-button;
    }
}

.disabled-buttons {
    button[disabled],
    a {
        @extend $pure-button;
        @extend $pure-button-disabled;
    }
}

.active-buttons {
    button,
    a {
        @extend $pure-button;
        @extend $pure-button-active;
    }
}

.primary-buttons {
    button,
    a {
        @extend $pure-button;
        @extend $pure-button-primary;
    }
}

.custom-button-green {
    button, a {
        @extend $pure-button;
        background: #16bb51;
        border-radius: 6px;
        color: white;
        font-weight:bold;
        padding: 0.8em 2.5em;
        text-shadow: 0 1px 1px rgb(22, 116, 29);
        text-transform: uppercase;
    }
}

.custom-button-red {
    button, a {
        @extend $pure-button;
        background: red;
        border-radius: 20px;
        border: 3px solid rgb(131, 2, 2);
        color: white;
        font-weight: bold;
        text-shadow: 1px 1px 1px rgb(170, 46, 23);
        text-transform: uppercase;
    }        
}

.custom-button-yellow {
    button, a {
        @extend $pure-button;
        background: rgb(255, 236, 15);
        border: 1px solid rgb(201, 189, 52);
        color: rgb(146, 128, 32);
        text-shadow: -1px 1px 1px white;
    }
}

.custom-button-wedding {
    button, a {
        @extend $pure-button;

        &:hover,
        &:focus {
            background: #555;
            color: #eee;
        }
    }
}

.pure-button-wedding:active {
    background: #222;
    color: #fff;
    box-shadow: none;
}

.form-buttons {
    > * {
        @extend $pure-button;
        @extend $pure-button-primary;
    }
}

.custom-fonts {
    font-family: 'Open Sans', sans-serif;

    > * {
        @extend $pure-button;
        @extend $pure-button-primary;
    }
}

// FORMS
.inline-form {
    @extend $pure-form;

    button {
        @extend $pure-button;
        @extend $pure-button-primary;
    }
}

.multi-col-grid-form {
    @extend $pure-form;
    @extend $pure-form-stacked;

    select {
        @extend $pure-form $pure-input-1-2;
    }

    button {
        @extend $pure-button;
        @extend $pure-button-primary;
    }

    .pure-checkbox {
        @extend $pure-form $pure-checkbox;
    }
}

.pure-g {
    @extend $pure-g;
}

.pure-u-1 {
    @extend $pure-u-1;
}

.pure-u-md-1-3 {
    @extend $pure-u-md-1-3; 
}

.pure-checkbox {
    @extend $pure-form $pure-checkbox;
}

.stacked-form {
    @extend $pure-form;
    @extend $pure-form-stacked;

    button {
        @extend $pure-button;
        @extend $pure-button-primary;
    }

    .pure-checkbox {
        @extend $pure-form $pure-checkbox;
    }
}

.aligned-form {
    @extend $pure-form;
    @extend $pure-form-aligned;

    button {
        @extend $pure-button;
        @extend $pure-button-primary;
    }
}

.pure-control-group {
    @extend $pure-form-aligned $pure-control-group;
}

.pure-controls {
    @extend $pure-form-aligned $pure-controls;
}

.pure-form-message-inline {
    @extend $pure-form-message-inline;
}

.pure-help-inline {
    @extend $pure-form-aligned $pure-help-inline;
}

.grouped-inputs {
    @extend $pure-form;
    
    fieldset {
        @extend $pure-form $pure-group;

        input,
        button {
            @extend $pure-form $pure-input-1-2;
        }

        button {
            @extend $pure-button;
            @extend $pure-button-primary;
        }
    }
}

.input-sizing {
    @extend $pure-form;
    
    .pure-input-1 {
        @extend $pure-form $pure-input-1;
    }
    
    .pure-input-2-3 {
        @extend $pure-form $pure-input-2-3;
    }
    
    .pure-input-1-2 {
        @extend $pure-form $pure-input-1-2;
    }
    
    .pure-input-1-3 {
        @extend $pure-form $pure-input-1-3;
    }
    
    .pure-input-1-4 {
        @extend $pure-form $pure-input-1-4;
    }
}

.invalid-inputs {
    @extend $pure-form;
}

.disabled-inputs {
    @extend $pure-form;
}

.read-only-inputs {
    @extend $pure-form;
}

.rounded-form {
    @extend $pure-form;
    @extend $pure-form-stacked;

    button,
    input {
        @extend $pure-button;
        @extend $pure-form $pure-input-rounded;
    }
}

.selects {
    @extend $pure-form;
    @extend $pure-form-stacked;
}

.checkboxes-radios {
    @extend $pure-form;

    .checkbox {
        @extend $pure-form $pure-checkbox;
    }

    .radio {
        @extend $pure-form $pure-radio;
    }
}

.help-text {
    @extend $pure-form;
    @extend $pure-form-stacked;

    aside {
        @extend $pure-form-message;
    }
}

// Grids

.pure-g {
    @extend $pure-g;
}

.pure-u-1 {
    @extend $pure-u-1;
}

.pure-u-1-1 {
    @extend $pure-u-1-1;
}

.pure-u-1-2 {
    @extend $pure-u-1-2;
}

.pure-u-1-3 {
    @extend $pure-u-1-3;
}

.pure-u-2-3 {
    @extend $pure-u-2-3;
}

.pure-u-1-4 {
    @extend $pure-u-1-4;
}

.pure-u-3-4 {
    @extend $pure-u-3-4;
}

.pure-u-1-5 {
    @extend $pure-u-1-5;
}

.pure-u-2-5 {
    @extend $pure-u-2-5;
}

.pure-u-3-5 {
    @extend $pure-u-3-5;
}

.pure-u-4-5 {
    @extend $pure-u-4-5;
}

.pure-u-5-5 {
    @extend $pure-u-5-5;
}

.pure-u-1-6 {
    @extend $pure-u-1-6;
}

.pure-u-5-6 {
    @extend $pure-u-5-6;
}

.pure-u-1-8 {
    @extend $pure-u-1-8;
}

.pure-u-3-8 {
    @extend $pure-u-3-8;
}

.pure-u-5-8 {
    @extend $pure-u-5-8;
}

.pure-u-7-8 {
    @extend $pure-u-7-8;
}

.pure-u-1-12 {
    @extend $pure-u-1-12;
}

.pure-u-5-12 {
    @extend $pure-u-5-12;
}

.pure-u-7-12 {
    @extend $pure-u-7-12;
}

.pure-u-11-12 {
    @extend $pure-u-11-12;
}

.pure-u-1-24 {
    @extend $pure-u-1-24;
}

.pure-u-2-24 {
    @extend $pure-u-2-24;
}

.pure-u-3-24 {
    @extend $pure-u-3-24;
}

.pure-u-4-24 {
    @extend $pure-u-4-24;
}

.pure-u-5-24 {
    @extend $pure-u-5-24;
}

.pure-u-6-24 {
    @extend $pure-u-6-24;
}

.pure-u-7-24 {
    @extend $pure-u-7-24;
}

.pure-u-8-24 {
    @extend $pure-u-8-24;
}

.pure-u-9-24 {
    @extend $pure-u-9-24;
}

.pure-u-10-24 {
    @extend $pure-u-10-24;
}

.pure-u-11-24 {
    @extend $pure-u-11-24;
}

.pure-u-12-24 {
    @extend $pure-u-12-24;
}

.pure-u-13-24 {
    @extend $pure-u-13-24;
}

.pure-u-14-24 {
    @extend $pure-u-14-24;
}

.pure-u-15-24 {
    @extend $pure-u-15-24;
}

.pure-u-16-24 {
    @extend $pure-u-16-24;
}

.pure-u-17-24 {
    @extend $pure-u-17-24;
}

.pure-u-18-24 {
    @extend $pure-u-18-24;
}

.pure-u-19-24 {
    @extend $pure-u-19-24;
}

.pure-u-20-24 {
    @extend $pure-u-20-24;
}

.pure-u-21-24 {
    @extend $pure-u-21-24;
}

.pure-u-22-24 {
    @extend $pure-u-22-24;
}

.pure-u-23-24 {
    @extend $pure-u-23-24;
}

.pure-u-24-24 {
    @extend $pure-u-24-24;
}

// Menus
.menu-horz,
.menu-vert {
    @extend $pure-menu;
    @extend $pure-menu-open;

    > a,
    .menu-heading {
        @extend $pure-menu a;
        @extend $pure-menu-heading;
    }

    .selected {
        a {
            @extend $pure-menu-selected a;
        }
    }

    .parent {
        @extend $pure-menu-can-have-children;

        > a {
            @extend $pure-menu-can-have-children $pure-menu-label
        }
    }

    [disabled] {
        @extend $pure-menu-disabled;
    }
}

.menu-horz {
    @extend $pure-menu-horizontal;
    
    > a,
    .menu-heading {
        @extend $pure-menu-horizontal $pure-menu-heading;
    }

    .parent {
        @extend $pure-menu-horizontal $pure-menu-can-have-children;

        > a {
            @extend $pure-menu-horizontal $pure-menu-can-have-children $pure-menu-label;
        }
    }
}

.paginator {
    @extend $pure-paginator;
}
