<h2 id='title'>PureStyl Interface Sandbox</h2>
{{#link-to 'buttons'}}Buttons{{/link-to}}
{{#link-to 'forms'}}Forms{{/link-to}}
{{#link-to 'menus'}}Menus{{/link-to}}
{{#link-to 'responsive'}}Responsive{{/link-to}}
{{#link-to 'tables'}}Tables{{/link-to}}
{{outlet}}
