<h1>Buttons Tests</h1>

<h2>Regular Buttons</h2>
<p class="regular-buttons">
    <button>A Regular Button</button>
    <a>An anchor Button</a>
</p>

<h2>Disabled Buttons</h2>
<p class="disabled-buttons">
    <button class="pure-button pure-button-disabled" disabled>A Regular Button</button>
    <a class="pure-button pure-button-disabled" href="#">An anchor Button</a>
</p>

<h2>Active Buttons</h2>
<p class="active-buttons">
    <button class="pure-button pure-button-active">A Regular Button</button>
    <a class="pure-button pure-button-active" href="#">An anchor Button</a>
</p>

<h2>Primary/Selected Buttons</h2>
<p class="primary-buttons">
    <button class="pure-button pure-button-primary">A Regular Button</button>
    <a class="pure-button pure-button-primary" href="#">An anchor Button</a>
</p>

<h2>Customizing Buttons</h2>
<p class="custom-button-green">
    <button class="pure-button pure-button-green">A Custom Button</button>
    <a class="pure-button pure-button-green" href="#">An anchor Button</a>
</p>
<p class="custom-button-red">
    <button class="pure-button pure-button-red">Another custom Button</button>
    <a class="pure-button pure-button-red" href="#">Custom Button</a>
</p>
<p class="custom-button-yellow">
    <button class="pure-button pure-button-yellow">Another custom Button</button>
    <a class="pure-button pure-button-yellow" href="#">Custom Button</a>
</p>

<p class="custom-button-wedding">
    <button class="pure-button pure-button-wedding">
        {{fa-icon "film"}}
        Start Playing Movie
    </button>

    <a class="pure-button pure-button-wedding" href="#">
        {{fa-icon "film"}}
        Start Playing Movie
    </a>
</p>

<h2>Primary Form Buttons</h2>
<p class="form-buttons">
    <a class="pure-button pure-button-primary" href="#">Anchor</a>
    <button class="pure-button pure-button-primary">Button</button>
    <input type="submit" class="pure-button pure-button-primary" value="Submit">
    <input type="button" class="pure-button pure-button-primary" value="Input Button">
    <input type="reset" class="pure-button pure-button-primary" value="Reset">
</p>

<h2>Primary Form Buttons (Custom Fonts)</h2>
<p class="custom-fonts">
    <a class="pure-button pure-button-primary" href="#">Anchor</a>
    <button class="pure-button pure-button-primary">Button</button>
    <input type="submit" class="pure-button pure-button-primary" value="Submit">
    <input type="button" class="pure-button pure-button-primary" value="Input Button">
    <input type="reset" class="pure-button pure-button-primary" value="Reset">
</p>
